<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-a00351269/blob/main/Curso_Modulo4_IBM_Python_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Curso IBM Python for Data Science MODULO 4

##Genaro Ramos Higuera
##Matricula A00351269

![modulo4_progreso.jpg]()

In [162]:
ls

Example1.txt  Example3.txt  members.txt   testAppend.txt
Example2.txt  inactive.txt  sample_data/  testWrite.txt

Podemos usar la Instruccion open y read para leer archivos de texto

In [39]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

Podemos imprimir el nombre del archivo, el modo de open y el contenido

In [40]:
file1.name

'Example1.txt'

In [41]:
file1.mode

'r'

In [42]:
print (file1.read()) # Imprimiendo el contenido del archivo de texto

This is line 1
This is line 2
This is line 3

Imprimiendo el tipo de archivo previamente asignando el contenido a una variable para ver el tipo

In [44]:
file_content=file1.read()
type (file_content)

str

In [45]:
file1.close() # siempre hay que cerrarlo al terminar

#Una mejor manera de abrirlo es con with  open , ya que esta sentencia ejecuta todo lo que está dentro del with y cierra automñáticamente el archivo.

In [46]:
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [47]:
file1.closed

True

In [48]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [49]:
# Leyendo partes del archivo
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [50]:
# mas ejemplos

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [51]:
#Leyendo una linea
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [52]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # No lee despues de encontrar el fin de linea
    print(file1.read(20)) #  lee los siguientes  20 caracteres

This is line 1

This is line 2
This

In [55]:
#leyendo en un bucle cada linea del archivo
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteración", str(i), ": ", line)
            i = i + 1

Iteración 0 :  This is line 1

Iteración 1 :  This is line 2

Iteración 2 :  This is line 3

In [62]:
# Leyendo las linea y asignandolas a una lista
with open(example1, "r") as file1:
    FileasList = file1.readlines()

FileasList

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [63]:
print(FileasList[0])
print(FileasList[1])
print(FileasList[2])

This is line 1

This is line 2

This is line 3

#Escribiendo en Archivos de Texto

In [64]:
# Escribiendo una linea en un archivo
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [65]:
#leyendo lo escrito

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [68]:
# Escribiendo 2 lineas al archivo

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [69]:
#leyendo lo escrito

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [70]:
# Ejemplo Lista de Texto

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [71]:
# Escribiendo la lista en el archivo

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [72]:
# Verificando si el write se ejecutó correctamente
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [82]:
# SI utilizamos el write() y sobreescribimos perdemos el contenido previo existente en el archivo
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

#Con el modo a, append agregamos lineas y no perdemos contenido previo

In [83]:
# Agregamos lineas con el modo a , append

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [84]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

Existen otros modos Adicionales para abrir archivo y son:

*   **r+** : Reading and writing. No puede truncar el archivo.
*   **w+** : Writing and reading. Trunca el archivo.
*   **a+** : Appending and Reading. Crea un nuevo archivo , si ninguno existe.

In [85]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

No hubo errores sino que efectuó el .read() pero no mostró nada.
Esto fué debido a la ubicación del puntero en el archivo.


La mayoría de los métodos trabajan en cierta ubicación del puntero en el archivo. Por ejemplo el .write(), escribe en cierta ubicación y el .read() también lee en cierta ubicación. 

Abrir el archivo en modo w , es abrirlo al inicio y escribir todo de nuevo , desde el inicio, borrando el contenido anterior.
Por ello es importante tener el control del puntero, por medio de las siguientes métodos:

.tell( ) - regresa la posición del puntero en bytes

.seek(offset,from) - cambia la posición por 'offset' bytes con respecto a  'from'. 'from' puede tomar un valor de 0,1,2 que corresponde al 0 comienzo, 1 relativo a la posicion , 2 hasta el fin de archivo.

In [86]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 70
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line E

Location after read: 70

Finalmente, hay una diferencia entre el modo w+ y el r+. 

Amnos modos permiten el acceso de lectura y escritura , pero al abrir un archivo en el modo w+ , este sobre-escribe y borra los todos los datos pre-existentes. 

Para trabajar con un archivo con datos existentes , utilizar mejor r+ o a+.

Mientras se use  r+, puede ser útil el usar un metodo .truncate() al final de los datos.
Esto reduce los datos y borra todo lo que siga.

In [87]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #escribiendo al inicio del archivo
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
  
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line E

In [90]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #escribiendo al inicio del archivo
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")

    testwritefile.truncate()

    testwritefile.seek(0,0)
    print(testwritefile.read())
    testwritefile.truncate()

Line 1
Line 2
Line 3
finished

COPIANDO ARCHIVO

In [91]:
# Copiando un archivo a otro archivo

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [93]:
# Verificando que la copia se llevo a cabo exitosamente
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

# EJERCICIO

In [94]:

from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [95]:
ls

Example1.txt  Example3.txt  members.txt
Example2.txt  inactive.txt  sample_data/

In [97]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    with open(currentMem, "r+") as miembros_actuales:
        with open(exMem, "a+") as ex_miembros:
            miembros_actuales.seek(0,0)
            miembros=miembros_actuales.readlines()
          
            header= miembros[0]
            miembros.pop(0)
            inactivo =[ miembro for miembro in miembros if ('no' in miembro)]
          
            #go to the beginning of the write file
            miembros_actuales.seek(0,0) 
            miembros_actuales.write(header)

            for miembro in miembros:
                if (miembro in inactivo):
                    ex_miembros.write(miembro)
                    print("Ex_Miembro: ",miembro)
                else:
                    miembros_actuales.write(miembro)
                    print ("Miembro Actual:", miembro) 
                
            miembros_actuales.truncate()
        
        
        

# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Ex_Miembro:      87684      2020-7-1     no

Ex_Miembro:      68456      2017-7-1     no

Ex_Miembro:      76878      2020-7-14    no

Ex_Miembro:      32694      2018-8-15    no

Ex_Miembro:      64789      2018-4-7     no

Ex_Miembro:      95134      2016-2-3     no

Miembro Actual:     97591      2016-9-19    yes

Ex_Miembro:      94071      2016-12-17   no

Ex_Miembro:      90045      2015-3-25    no

Ex_Miembro:      15119      2015-5-16    no

Miembro Actual:     43923      2016-12-3    yes

Ex_Miembro:      94271      2020-2-21    no

Miembro Actual:     73254      2018-4-16    yes

Miembro Actual:     68086      2016-2-23    yes

Miembro Actual:     28680      2015-7-4     yes

Miembro Actual:     63525      2019-4-21    yes

Miembro Actual:     55422      2017-4-14    yes

Ex_Miembro:      91547      2017-9-7     no

Miembro Actual:     65752      2017-12-4    yes

Ex_Miembro:      46846      2015-3-19    no

Active Members:


Membership No  Date Joined  Active
    97591      2016-9-19    yes
    43923      2016-12-3    yes
    73254      2018-4-16    yes
    68086      2016-2-23    yes
    28680      2015-7-4     yes
    63525      2019-4-21    yes
    55422      2017-4-14    yes
    65752      2017-12-4    yes

Inactive Members:


Membership No  Date Joined  Active
    20783      2016-1-15    no
    60549      2016-1-25    no
    62906      2017-7-5     no
    87684      2020-7-1     no
    68456      2017-7-1     no
    76878      2020-7-14    no
    32694      2018-8-15    no
    64789      2018-4-7     no
    95134      2016-2-3     no
    94071      2016-12-17   no
    90045      2015-3-25    no
    15119      2015-5-16    no
    94271      2020-2-21    no
    91547      2017-9-7     no
    46846      2015-3-19    no

In [98]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Miembro Actual:     10625      2019-5-1     yes

Ex_Miembro:      43473      2017-2-16    no

Ex_Miembro:      10274      2018-1-14    no

Miembro Actual:     81187      2020-3-5     yes

Ex_Miembro:      55664      2016-11-10   no

Miembro Actual:     75275      2020-8-13    yes

Miembro Actual:     19353      2019-7-11    yes

Miembro Actual:     25495      2019-6-18    yes

Ex_Miembro:      62260      2016-2-25    no

Miembro Actual:     98566      2018-5-12    yes

Miembro Actual:     45008      2017-1-16    yes

Miembro Actual:     33515      2020-10-7    yes

Ex_Miembro:      60836      2017-12-3    no

Ex_Miembro:      12765      2018-5-11    no

Ex_Miembro:      12601      2016-8-5     no

Miembro Actual:     58790      2017-6-18    yes

Ex_Miembro:      61544      2015-10-13   no

Ex_Miembro:      82857      2019-7-3     no

Miembro Actual:     52031      2015-11-20   yes

Ex_Miembro:      25897      2017-9-14    no

Test Passed

# Libreria pandas para lectura de archivos

In [122]:
# Importando la libreria pandas con su alias comun "pd"
import pandas as pd
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path) #asignando el archivo a un dataframe

In [123]:
df.head() #imprime los primeros 5 renglones

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [125]:
x = df[['Length']] #accesando a la columna con llave "Length" en el dataframe df y asignandolo a x
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [128]:
# Obteniendo la columna como una serie con un solo bracket

x = df['Length']
x

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [129]:
# una colummna como dataframe con doble bracket 

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [133]:
# Accesando a multiples columnas

y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

In [134]:
# Acceso al valor del primer renglon primera columna indices = 0,0
df.iloc[0, 0]

'Michael Jackson'

In [135]:
# acceso al primer valor tercera columna , indices 0,2

df.iloc[0,2]

1982

In [146]:
# acceso de contenido de la celda , fila 1, columna con nombre"Artist"

df.loc[1, 'Artist'] #USAS el metodo loc en lugar de iloc

'AC/DC'

In [147]:
df.loc[0, 'Released'] #fila 0 columna conllave 'Released' USAS el metodo loc en lugar de iloc

1982

In [148]:
# slicing del dataframe desde la fila 0 a antes del 2, y de la columna 0 a la antes de la 3, osea quedan un dataframe de 2 x 3 
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [151]:
# utilizas loc con nombres de llaves o columnas aqui si se incluyen todas las columnas nombradas y los renglones TODOS ahi esta la DIFERENCIA

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

#EJERCICIOS

Asignando a q el dataframe de la columna "Rating"

In [152]:
q=df[["Rating"]]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

Asignando ahora a q como dataframe las columnas Released y Artist

In [153]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Accesar segundo renglon y tercera columa

In [154]:
df.iloc[1, 2]

1980

Utiliza la siguiente lista para convertir el index del dataframe a caracyeres y asignarlo a df_new ; 
Encuentra el elemento correspondiente al indice de la fila "a" columna "Artist".
Entonces selecciona las filas de la "a" la "d"  para la columna "Artist"

In [156]:
#Nuevos indices a definir en el dataframe
new_index=['a','b','c','d','e','f','g','h']

df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']

'Michael Jackson'

In [157]:
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

In [160]:
df_new.loc ["a":"d", "Artist": "Genre"]

,Artist,Album,Released,Length,Genre
a,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B"
b,AC/DC,Back in Black,1980,0:42:11,hard rock
c,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock
d,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop"